.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

body {
    min-width: 960px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Helvetica", sans-serif;
    background: #000 url(../images/bg.png) no-repeat center top;
    color: #fff;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

/*============СТИЛИ ВНУТРЕННИХ СТРАНИЦ price-list ===========*/
/***********Общие стили для BODY BEGIN**************/
.inner-page {
    color: #000;
    background: #f8f3f0 url("../images/prise-list-bg.jpg") repeat;
}

/***********Общие стили для BODY END**************/

/*HEADER BEGIN*/
.main-header {
    margin-bottom: 60px;
    /*Если даем блоку БГ, то лучьше прописать контрастный цвет, не смотря на дублирование*/
    background-color: black;
    color: white;
}

/*============СТИЛИ ВНУТРЕННИХ СТРАНИЦ price-list ===========*/
/***********Общие стили для Header BEGIN**************/
.inner-page-title h1 {
    margin: 0 0 20px 0;
    padding: 0;

    font-size: 30px;
    line-height: 42px;
}

/*переопределили отступ в header для price-list страницы*/
.inner-page .main-header {
    margin-bottom: 55px;
}

.mini-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mini-nav li {
    position: relative;
    display: inline;
    padding-right: 40px;
}

.mini-nav a {
    text-decoration: none;
    color: black;
}

.mini-nav .current {
    color: #aba9a7;
}

.mini-nav a:hover {
    text-decoration: underline;
}

/*Псевдоэлемент квадрат повернутый*/
.mini-nav li::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #000;
    top: 4px;
    right: 18px;
    transform: rotate(45deg);
}

/*Убрали квадрат у последнего Псевдоэлемента элемента */
.mini-nav .current::after {
    display: none;
    /*content: none; Можно и так*/
}

/***********Общие стили для Header END**************/

.main-navigation {
    width: 780px;
    float: left;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    color: #fff;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 20px;
    /*Если сделали inline-block то делаем сразу vertical-align: top; + Нужно избавиться от отступов между блочно-строчными элементами- задаем font-size: 0 у блока ul, а у li переопределяем font-size: 16px */
    padding: 25px 20px;
}

.main-navigation li:hover {
    background: #242424;
}

.main-navigation .logo-inner {
    float: left;
    width: 111px;
    height: 20px;
    padding-right: 10px;
}

.main-navigation .logo-inner img {
    padding: 22px 0;
    width: 111px;
    height: 24px;
}

.main-navigation .active {
    position: relative;
}

.main-navigation li.active:hover {
    background: none;
}

.active::after {
    content: "";
    position: absolute;
    height: 5px;
    background-color: #fff;
    bottom: 0;
    right: 20px;
    left: 20px;
}

.user-info-block {
    position: relative;
    float: right;
    max-width: 140px;
    min-height: 70px;
}

.login {
    display: inline-block;
    vertical-align: top;
    padding: 25px 20px 25px 50px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.login:hover {
    background: #242424;
}

/*Создаем место/псевдоэлемент куда разместим Sprite login*/
.login:before {
    position: absolute;
    content: "";
    top: 28px;
    left: 20px;
    background: url("../images/sprites.png") no-repeat -12px -48px;
    /*background-position: -12px -48px ;*/
    width: 18px;
    height: 16px;
    opacity: 0.6;
}

.login:hover::before {
    opacity: 1;
}

/*HEADER END*/

/*MAIN BEGIN*/
.main-logo {
    width: 368px;
    height: 204px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

.features {
    margin-bottom: 80px;
}

.features-items {
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}

.features-items p {
    margin: 10px 10px 0px 10px;
}

.features-items:last-child {
    margin-right: 0;
}

.features-name {
    position: relative;
    line-height: 42px;
    font-size: 30px;
    /*margin + padding для того, чтобы если добавить контент к КРУТО, то ромбик не уедет никуда */
    margin-bottom: 30px;
    padding-bottom: 35px;
}

/*Делаем ромбики - псевдоэлементом + поворот на 45 градусов*/
.features-name::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -10px;
    transform: rotate(45deg);
}

.index-content {
    padding: 50px 80px;
    margin-bottom: 35px;
    color: #000;
    background: url("../images/main-shadow.png") no-repeat center, #f8f5f2 url("../images/main-bg.jpg");
}

.index-content:last-child {
    margin-bottom: 0;
}

.index-content-left {
    float: left;
    width: 380px;
}

.index-content-right {
    float: right;
    width: 300px;
}

.index-content-title {
    font-size: 30px;
    line-height: 42px;
    margin: 0 0 30px 0;
}

.index-content p {
    margin: 0 0 25px 0;
}

.news-preview {
    list-style: none;
    margin: 0;
    padding: 0 25px 0 0;
}

.news-preview li {
    margin-bottom: 25px;
}

.news-preview p {
    margin-bottom: 0;
}

.news-preview time {
    text-transform: none;
    font-weight: normal;
}

.btn {
    display: inline-block;
    vertical-align: bottom;
    padding: 13px 33px 10px 33px;

    margin-right: 16px;

    background: #000;
    border: none;
    outline: none;
    cursor: pointer;

    text-align: center;
    font-weight: 700;
    text-decoration: none;

    line-height: 24px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "PT Sans Narrow", "Helvetica", sans-serif;
    color: #fff;
}

/*Устанавливам не активную кнопку*/
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn:disabled:hover {
    background: #000;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.gallery {
    position: relative;
    height: 260px;
}

.gallery-content {
    margin: 0;
    height: 164px;
    border: 7px solid #fff;
    background: #777;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 140px;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.appointment-form input {
    float: left;
    width: 106px;
    padding: 7px 15px;
    margin-right: 20px;
    margin-bottom: 20px;

    background: #f9f6f3;
    border: 2px solid #000;
    outline: none;

    /*inherit Взяли настройки текста у Родителя*/
    font: inherit;
    color: inherit;
    text-transform: inherit;
}

.appointment-form .btn {
    width: 100%;
    clear: both;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

/*Сброс отступов у каждой второй кнопки*/
.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

/*====================СТИЛИ ВНУТРЕННИХ СТРАНИЦ price-list =============================*/
/*******************Общие стили для Main тегов BEGIN***************/
.inner-content {
    margin-bottom: 75px;
}

.inner-content h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}

.inner-content p {
    margin: 14px 0;
}

.inner-content table {
    border-collapse: collapse;
}

.inner-content td {
    padding: 10px 15px;
    border: 2px solid #000;
}

/*Особые стили для контентных тегов*/
.big-heading {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 65px;
}

.big-heading h2 {
    position: relative;
    display: inline;
    z-index: 2;

    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin: 0;
    padding: 0 25px;
    /*Прописали фон background, чтобы скрыть линию посередине*/
    background: #f8f3f0 url("../images/prise-list-bg.jpg") repeat;
}

/*Делаем псевдоэлемент Линию по бокам. Сделали и у родителя и тут position: relative; чтобы был в потоке и реагировал на Z-index */
.big-heading::after {
    content: "";
    display: block;
    border-bottom: 2px solid #000;

    position: relative;
    top: -25px;
    z-index: 1;
}

.custom-list-1 {
    padding: 0;
    margin: 14px 0;
    list-style: none;
}

.custom-list-1 li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
}

/*Псевдоэлемнты квадраты 45 градусов + Задали класс для li custom-list-1, если человек хочет не стандортный список, захочет стандартный, просто убрать класс*/
.custom-list-1 li::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #000;
    transform: rotate(45deg);
}

/*Таблица не стандартная - растягивается, поэтому задаем класс*/
.price-table {
    width: 100%;
}

/*Ширина ячеек*/
.price-table td {
    width: 50%;
}

.price-table td:last-child {
    text-align: center;
}

/*Стили для боков колонок контента*/
.inner-block {
    margin: 60px 0;
}

.inner-block-left,
.inner-block-right {
    width: 460px;
}

.inner-block-left {
    float: left;
}

.inner-block-right {
    float: right;
}

/*Убрать двойные отступы сверху и снизу*/
.inner-block-left *:first-child,
.inner-block-right *:first-child {
    margin-top: 0px;
}

.inner-block-left *:last-child,
.inner-block-right *:last-child {
    margin-bottom: 0;
}

/*Задали класс для заголовков, чтобы сделать перенос текста как на макете. <BR> плохо делать*/
.short-text {
    padding-right: 80px;
}

/****************Общие стили для Main END***************/
/*MAIN END*/

/*FOOTER BEGIN*/
.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    border-top: 1px solid transparent;

    color: #fff;
    background: #252525 url("../images/bg-footer.jpg");
}

.footer-copyright .btn:hover {
    background-color: #f3f0ed;
    color: #000;
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer-contacts a {
    color: white;
    text-decoration: underline;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    text-align: center;
    float: left;
    width: 180px;
}

.footer-social p {
    margin: 0 0 15px 0;
}

.social-btn {
    display: inline-block;
    vertical-align: top;
    width: 43px;
    height: 43px;
    margin: 0 2px;

    background: #000 url("../images/sprites.png") no-repeat center;
    /*спрятать текст*/
    font-size: 0;
    text-decoration: none;

    /*мини Анимация TODO: добавить картинки social темные*/
    transition: background-position 0.3s, background-color 0.3s;
}

.social-btn:hover {
    background-color: #f3f0ed;
}

.social-btn-vk {
    background-position: -5.5px -104px;
}

.social-btn-fb {
    background-position: -3px -5px;
}

.social-btn-inst {
    background-position: -4px -56px;
}

.social-btn-vk:hover {
    background-position: -5px -153px;
}

.social-btn-fb:hover {
    background-position: -4px -205px;
}

.social-btn-inst:hover {
    background-position: -5px -251px;
}

.footer-copyright {
    float: right;
    max-width: 180px;
}

.footer-copyright p {
    /*text-transform: none;*/
    text-align: center;
    margin: 0 0 15px 0;
}

.footer-copyright .btn {
    margin-right: 0;
}

/*FOOTER END*/

/*+++++++++++++++++++++MODAL-VIEW BEGIN+++++++++++++++++++++*/
/*---LOGIN---*/
.modal-content {
    display: none;
    width: 300px;
    padding: 50px 80px;
    color: #000;
    background: #f8f3f0 url("../images/prise-list-bg.jpg");

    position: absolute;
    top: 120px;
    /*230 - половина ширины 150 + паддинг 80*/
    left: calc(50% - 230px);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

/*Делаем Кнопку крестиком:) Х */
.modal-content-close {
    position: absolute;
    top: -5px;
    right: -45px;

    width: 22px;
    height: 22px;
    font-size: 0;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 1px;

    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
    border-radius: 1px;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 42px;
}

.modal-content p {
    margin: 0;
    margin-bottom: 14px;
}

.modal-content .login-form {
    margin-top: 30px;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 236px;
    margin: 0 0 10px 0;
    padding: 10px 40px 10px 20px;

    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Helvetica", sans-serif;
    color: #000;

    background-color: #f9f6f3;
    border: 2px solid #000;
    outline: none;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-form input.icon-user {
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    background-position: 100% -347px;

}

.login-form input.icon-password {
    background-image: url(../images/sprites.png);
    background-repeat: no-repeat;
    background-position: 100% -302px;
}

.login-form .restore-password {
    float: right;
    color: #000;
}

.login-form .btn {
    width: 100%;
    margin-top: 15px;
}

/*Стилизация  чекбокса*/
.login-checkbox {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

.login-checkbox input[type="checkbox"] {
    display: none;
}

.login-checkbox:hover {
    color: #663d15;
}

/*Говорим элементу span - .checkbox-indicator нарисовать квадрат*/
.login-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -3px;
    left: 0px;
    width: 18px;
    height: 18px;
    border: 2px solid #000;
}

/*Ставим Крестик только тогда, когда отмечен - checked*/
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 2px;
    width: 14px;
    height: 3px;
    background-color: #000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}

/*---MAP---*/
.modal-content-map {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: -390px;
    width: 766px;
    height: 561px;
    background: #f9f6f3;
    border: 2px solid white;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

}

/*Класс включающий отображение контента*/
.modal-content-show {
    display: block;
    animation: bounceLogin 0.7s;
}

/*Анимация выезжания Окна login */
@keyframes bounceLogin {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(70px);
    }
    90% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*Анимация неправильного Логина/пароля*/
@keyframes shakeLogin {
    0%, 100% {
        transform: translateX(0px);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.modal-error {
    animation: shakeLogin 0.6s;
}

/*+++++++++++++++++++++MODAL-VIEW END++++++++++++++++++++++*/

/*====================================shop.index BEGIN===========================*/
.shop-content-container {
    /*outline: 2px solid red;*/
    margin-top: 50px;
}

.left-side-bar {
    /*outline: 1px solid black;*/
    float: left;
    max-width: calc(100% - 790px);

}

.manufacturers-list {
    /*outline: 1px solid blue;*/
    padding: 0;
    margin: 14px 0;
    list-style: none;
}

.right-content-block {
    /*outline: 2px solid blue;*/
    float: right;
    max-width: 720px;

}

.right-content-block p {
    margin: 15px 0 0 15px;
}

.inline-item {
    /*outline: 2px solid gray;*/
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;

    box-shadow: -10px -10px 20px rgba(228, 228, 228, 0.7);
    -webkit-box-shadow: -10px -10px 20px rgba(228, 228, 228, 0.7);
    -moz-box-shadow: rgba(228, 228, 228, 0.7);
}

.inline-item:nth-child(3n) {
    margin-right: 0px;
}

.img-content {
}

.price-buy {
    max-width: 220px;
    font-size: 0;
    padding-bottom: 15px;
}

.price {
    display: inline-block;
    background-color: #e5e5e5;
    vertical-align: top;
    text-align: center;
    padding: 10px 0;
    margin-left: 15px;
    margin-top: 10px;
    width: 110px;

    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans Narrow", "Helvetica", sans-serif;
    color: #000;
}

.price.buy {
    display: inline-block;
    vertical-align: top;
    max-width: 80px;
    margin-left: 0px;
    padding: 10px;
    background-color: #000;
    border: none;
    color: #fff;
}
