<meta charset="UTF-8">
<title>Shop</title>
<meta name="description" content="">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic"
	  rel="stylesheet">
<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="styles/normalize.css">
</head>

<body class="inner-page">
<header class="main-header">
	<div class="container clearfix">
		<nav class="main-navigation">
			<a class="logo-inner" href="index.html"><img src="images/prise-list-logo.png" alt="Barbershop" width="111"
														 height="24">
			</a>
			<ul>
				<a href="#">
					<li>Информация</li>
				</a>
				<a href="#">
					<li>Новости</li>
				</a>
				<a href="price-list.html">
					<li>Прайс-лист</li>
				</a>
				<span>
					<li class="active">Магазин</li>
				</span>
				<a href="#">
					<li>Контакы</li>
				</a>
			</ul>
		</nav>
		<div class="user-info-block">
			<a class="login" href="#">Вход</a>
		</div>
	</div>
</header>
<main class="container">
	<div class="inner-page-title">
		<h1>Средства для ухода</h1>
		<ul class="mini-nav">
			<li><a href="index.html">главная</a></li>
			<li class="current">Средства для ухода</li>
		</ul>
	</div>
	
	<div class="shop-content-container clearfix">
		<div class="left-side-bar">
			<h2>Производители:</h2>
			<ul class="manufacturers-list">
				<li>
					<label class="login-checkbox">
						<input type="checkbox" name="remember">
						<span class="checkbox-indicator"></span>
						Baxter of California
					</label>
				</li>
				<li>
					<label class="login-checkbox">
						<input type="checkbox" name="remember">
						<span class="checkbox-indicator"></span>
						Mr Natty
					</label>
				</li>
				<li>
					<label class="login-checkbox">
						<input type="checkbox" name="remember">
						<span class="checkbox-indicator"></span>
						Suavecito
					</label>
				</li>
				<li>
					<label class="login-checkbox">
						<input type="checkbox" name="remember">
						<span class="checkbox-indicator"></span>
						Malin+Goetz
					</label>
				</li>
				<li>
					<label class="login-checkbox">
						<input type="checkbox" name="remember">
						<span class="checkbox-indicator"></span>
						Murray’s
					</label>
				</li>
				<li>
					<label class="login-checkbox">
						<input type="checkbox" name="remember">
						<span class="checkbox-indicator"></span>
						American Crew
					</label>
				</li>
			</ul>
			<h2>Группы товаров:</h2>
			<button class="btn">Показать</button>
		</div>
		
		<div class="right-content-block">
			
			<div class="inline-item">
				<div class="img-content">
					<img src="images/shop-1-bag.png" width="220" height="165" alt="Товар1">
					<p>Набор для путешествий<br>«Baxter of California»</p>
				</div>
				<div class="price-buy clearfix">
					<div class="price">2900 руб.</div>
					<button class="price buy">купить</button>
				</div>
			</div>
			
			<div class="inline-item">
				<div class="img-content">
					<img src="images/shop-product-2.png" width="220" height="165" alt="Товар2">
					<p>Увлажняющий кондиционер<br>«Baxter of California»</p>
				</div>
				<div class="price-buy clearfix">
					<div class="price">750 руб.</div>
					<button class="price buy">купить</button>
				</div>
			</div>
			
			<div class="inline-item">
				<div class="img-content">
					<img src="images/shop-product-3.png" width="220" height="165" alt="Товар2">
					<p>Гель для волос<br>«SUAVECITO»</p>
				</div>
				<div class="price-buy clearfix">
					<div class="price">290 руб.</div>
					<button class="price buy">купить</button>
				</div>
			</div>
			
			<div class="inline-item">
				<div class="img-content">
					<img src="images/shop-product-4.png" width="220" height="165" alt="Товар2">
					<p>Глина для укладки волос<br>«American crew»</p>
				</div>
				<div class="price-buy clearfix">
					<div class="price">500 руб.</div>
					<button class="price buy">купить</button>
				</div>
			</div>
			
			<div class="inline-item">
				<div class="img-content">
					<img src="images/shop-product-5.png" width="220" height="165" alt="Товар2">
					<p>Гель для волос<br>«AMERICAN CREW»</p>
				</div>
				<div class="price-buy clearfix">
					<div class="price">300 руб.</div>
					<button class="price buy">купить</button>
				</div>
			</div>
			
			<div class="inline-item">
				<div class="img-content">
					<img src="images/shop-product-6.png" width="220" height="165" alt="Товар2">
					<p>Набор для бритья<br>«Baxter of California»</p>
				</div>
				<div class="price-buy clearfix">
					<div class="price">3900 руб.</div>
					<button class="price buy">купить</button>
				</div>
			</div>
		
		</div>
	</div>
	<div class="slider">1-2-3-4</div>
</main>

<footer class="main-footer">
	<div class="container clearfix">
		<div class="footer-contacts">
			АРБЕРШОП «БОРОДИНСКИЙ»<br>
			АДРЕС: Г. САНКТ-ПЕТЕРБУРГ, УЛ. Б. КОНЮШЕННАЯ, Д. 19/8<br>
			<a href="#">КАК НАС НАЙТИ?</a><br>
			ТЕЛЕФОН: +7 (495) 666-02-66
		</div>
		<div class="footer-social">
			<p>Давайте дружить!</p>
			<a class="social-btn social-btn-vk" href="#">VK</a>
			<a class="social-btn social-btn-fb" href="#">FB</a>
			<a class="social-btn social-btn-inst" href="#">INST</a>
		</div>
		<div class="footer-copyright">
			<p>Разработано:</p>
			<a class="btn" href="#">JMTech</a>
		</div>
	
	</div>

</footer>

</body>
</html>